.heading {
  color: rgb(225, 226, 225);
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 20px 0;
}

.home-container {
  text-align: center;
}

.head {
  margin: 0;
}

.para {
  margin: 0;
  padding: 15px;
  font-size: 20px;
}

.home-container {
  background-image: url("../../images/figma.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.home-container:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.3;
}

.hero-section {
  position: relative;
  z-index: 1;
  padding: 50px 0;
  color: #fff;
}

button.buttons {
  padding: 10px 25px;
  border: 5px solid #000;
  font-size: 16px;
  font-weight: 800;
}

button.buttons:hover {
  color: #fff;
  background: #000;
  transition: 0.5s;
  border: 5px solid #fff;
}
